<h1><%= @document.title %></h1>

<div>
  <h3>Rendered Content:</h3>
  <%= raw Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@document.content) %>
</div>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
